div {background-color: rgba(0, 255, 229, 0.092);}
div {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
div {color:#a9a9a9;}
.profile_pic {
    padding: 5px;
    border: 3px solid rgba(0, 255, 255, 0.527);
    background-color: darkgray;
    border-radius: 20px;}
div {cursor:grab;}
h3 {
    border:5px solid darkgray;
    border-style:ridge;
    background-color:rgba(0, 255, 255, 0.158)}
div {text-align:center;}
.heading {text-decoration-line: underline;
    text-decoration-style: wavy;}
    .projects, .about {text-align:left;}
